* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body, 
#root {
  background-color: #1a1a1c;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}